body {
    background-color: rgb(233, 225, 225);
}
.container {
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 300px;
    text-align: center;
    border: 10px solid rgb(173, 164, 164);
    background-color: black;
    border-radius: 50px;
    padding: 30px;
}
.keypad {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;

}
input[type='text'] {
    height: 200px;
    width: 300px;
    background-color: black;
    border: 0;
    color: blanchedalmond;
    text-align: right;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    outline: none;

}
#zero {
    grid-column: 1/3;
    grid-row: 5;
    border-radius: 25% 25% 25% 25% / 50% 50% 50% 50% ;
    
}
button {
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #333333; 
    color: #ffff;
    font-weight: 500;
    font-size: 30px;
    border: 0;
    transition: filter 0.3s ease-in;
    outline: 0;  
}
button:hover {
  filter: brightness(130%);
}
.yellow {
    background-color: #FDA03B;
}
.gray {
    background-color: #A5A5A5;
    color:black;
}
.time {
    color: white;
    text-align: left;
    font-size: 1rem;
}
.menu {
    position: absolute;
    top: 25px;
    right: 10px;
}
.menu img {
    height: 15px;
}
@media (max-width:600px) {
    .container {
        width: 85%;
        height: 94vh;
        border: 0;
        background-color: black;
        border-radius: 0;
    }
    input[type='text'] {
        height: 34vh;
        width: 90%;
        background-color: black;
        border: 0;
        color: blanchedalmond;
        text-align: right;
        font-size: 50px;
        font-weight: 900;   
        letter-spacing: 2px;
    }
    .keypad {
        grid-gap: 10px;
    }
    button {
        height: 90px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #333333; 
        color: #ffff;
        font-weight: 500;
        font-size: 30px;
        border: none;
        transition: filter 0.3s ease-in;  
        
    }
    
  }